<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOPPEE cofee shop and html Template</title>
    <!-- favicon -->
    <link rel="icon" href="https://themewagon.github.io/Koppee/img/carousel-1.jpg">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <i class="fab fa-instagram"></i>

    <header>
        <div>
            <img src="" alt="">
        </div>

        <div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <section id="herosection">

            <img src="" alt="">

        </section> <!--end of herosection-->


        <section id="about">

            <div>
                <h2>About Us</h2>
                <p>Serving Since 1950</p>
            </div>
            <div>
                <h2>Our Story
                </h2>
                <p>Eos kasd eos dolor vero vero, lorem stet diam rebum. Ipsum amet sed vero dolor sea</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima eos ab ad itaque consectetur quam
                    doloribus magni similique, ratione non, dolorum numquam, reprehenderit atque aliquid earum facilis
                    temporibus. Molestiae, enim.</p>
                <button>Learn More</button>
            </div>
            <div>
                <img src="https://themewagon.github.io/Koppee/img/about.png" alt="">
            </div>
            <div>
                    <h2>Our Story
                </h2>
                <p>Eos kasd eos dolor vero vero, lorem stet diam rebum. Ipsum amet sed vero dolor sea</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima eos ab ad itaque consectetur quam
                    doloribus magni similique, ratione non, dolorum numquam, reprehenderit atque aliquid earum facilis
                    temporibus. Molestiae, enim.</p>
                <button>Learn More</button>
            </div>

        </section> <!--end of about-->

        <section id="organic">
            <div>
                <h2>Our Services</h2>
                <p>Fresh & Organic Beans</p>

            </div>
            <div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <h3>Fastest Door Delivery</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, ratione! Quidem deserunt vitae tempora dolorum, voluptatem deleniti. Illo, iusto perferendis saepe illum esse similique odio veniam magnam. Cum, optio hic?</p>
                </div>
            </div>

             <div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <i class="fas fa-bars"></i>
                    <h3>Fastest Door Delivery</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, ratione! Quidem deserunt vitae tempora dolorum, voluptatem deleniti. Illo, iusto perferendis saepe illum esse similique odio veniam magnam. Cum, optio hic?</p>
                </div>
            </div>

             <div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <h3>Fastest Door Delivery</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, ratione! Quidem deserunt vitae tempora dolorum, voluptatem deleniti. Illo, iusto perferendis saepe illum esse similique odio veniam magnam. Cum, optio hic?</p>
                </div>
            </div>

             <div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <h3>Fastest Door Delivery</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, ratione! Quidem deserunt vitae tempora dolorum, voluptatem deleniti. Illo, iusto perferendis saepe illum esse similique odio veniam magnam. Cum, optio hic?</p>
                </div>
            </div>
            
        </section>


        <section>
            <div>
                <h2>50% OFF</h2>
                <h4>Sunday Special Offer</h4>
                <p>Only for Sunday from 1st Jan to 30th Jan 2045</p>
                <form action="">
                    <input type="text">
                    <button>Sign Up</button>
                </form>
            </div>
        </section>


    </main>


    <footer>


        <div>
            <ul>
                <li>footer</li>
                <li>footer</li>
                <li>footer</li>
                <li>footer</li>
                <li>footer</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>footer</li>
                <li>footer</li>
                <li>footer</li>
                <li>footer</li>
                <li>footer</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>footer</li>
                <li>footer</li>
                <li>footer</li>
                <li>footer</li>
                <li>footer</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>footer</li>
                <li>footer</li>
                <li>footer</li>
                <li>footer</li>
                <li>footer</li>
            </ul>
        </div>
        <div>
            <p>Copyright © Domain. All Rights Reserved.

Designed by HTML Codex Distributed by ThemeWagon</p>
        </div>


    </footer>

    

</body>

</html>